*{
    margin: 0;
    padding:0;
}

.Navbar_Itens,
.Navbar {
  flex-direction: column;
}
.Navbar_Itens{
    display: none;
}
.Navbar_Items--right {
  margin-left: 0;
}

.Navbar_Link-toggle{
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
}

.Navbar__ToggleShow {
    display: flex;
  }

.Conteudo{
  width: 80%;
}

.Titulos{
    font-size: 20px;
    justify-content: center;
}

figure{
  width: 105%;
}

figcaption{
font-size: 0.9em;
width: 80%;
}

.Img-Carrosel{
  display: flex;
  justify-content: center;
  margin-left: 30px;
  width: 80%;
  align-items: center;
}

.Imagens{
  margin-left: 30px;
  width: 80%;
}


.Textos{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 15px;
  font-size: 12px;
}

.Graficos{
width: 180px;
height: 60%;
}

video{
  width: 70%;
  height: 50%;
}

#ancora{
  width: 70px;
  height: 70px;
  border-radius: 60%;
  font-size: 15px;
}