@media (min-height: 412px) {

  * {
    margin: 0;
    padding: 0;
  }

  .Conteudo {
    width: 290px;
  }

  .Navbar_Itens,
  .Navbar {
    flex-direction: column;
  }

  .Navbar_Itens {
    display: none;
  }

  .Navbar_Items--right {
    margin-left: 0;
  }

  .Navbar_Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  h1 {
    font-size: 25px;
  }

  .Titulos {
    font-size: 20px;
    justify-content: center;
  }

  figure {
    width: 105%;
  }

  figcaption {
    font-size: 11px;
    text-align: center;
    padding-left: 39px;
    width: 80%;
  }

  .IPTI p {
    font-size: 10px;
    color: rgb(34, 33, 33);;
    padding-right: 25px;

  }

  .ImagensGrafico-Fatalidades {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 13px;
    width: 88%;
  }

  .Img-Carrosel {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    width: 80%;
    align-items: center;
  }

  .Imagens {
    margin-left: 30px;
    width: 80%;
  }


  .Textos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
    font-size: 12px;
  }

  .Graficos {
    width: 180px;
    height: 60%;
  }

  video {
    width: 70%;
    height: 50%;
  }

  #ancora {
    width: 80px;
    height: 60px;
    border: solid 1px;
    font-size: 15px;
  }

}